<% if @current_user.present? %>

    <h1>My Orders</h1>

    <% @current_user.orders.each do |order| %>
        <p>Order #<%= link_to order.id, order %> - <strong>Pick up: </strong> <%= order.start%></p>
        <p><strong> Drop off by: </strong><%= order.end%></p>
        <p>Items:</p>
    <% order.items.each do |item| %>
        <p><%= item.name %></p>
    <% end %>
    <% end %>

<!-- link to log in or sign up before viewing orders-->
<% end %>

<% if !@current_user.present? %>
<h4>Not signed in? <%= link_to 'Sign in', login_path %> or <%= link_to 'Sign up ', new_user_path %> to see your orders. </h4>
<% end %><!-- end of if user present -->
