<div class="container">
  <div class="row"></div>
  <h2>Order No.
    <%= @order.id %></h2>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Pick up:
          </p>
        </div>
        <div class="col-md-6">
          <p><%= @order.start %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Drop off:
          </p>
        </div>
        <div class="col-md-6">
          <p><%= @order.end %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Items:
          </p>
        </div>
        <div class="col-md-6">
          <% @order.items.each do |item| %>
            <p><%= item.name %></p>
          <% end %>
        </div>
      </div>
      <div class="row" style="background-color: #F5F5F5;">
        <div class="col-md-6">
          <p>Total price:
          </p>
        </div>
        <div class="col-md-6">
          <p><%= number_to_currency @order.calculate_price %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= '--' * 20 %>
        </div>
      </div>
    </div>
  </div>
</div>
