<h2><%= @item.name %></h2>

<% if @item.image.present? %>

<p><%= image_tag @item.image, :class => 'feature' %></p>
<% end %>

<h3>Prices</h3>
<p>Day: <%= number_to_currency @item.dayprice  %></p>
<p>Week: <%= number_to_currency @item.weekprice  %></p>
<p>Month: <%= number_to_currency @item.monthprice %></p

<% if @current_user != @item.user %>
<p>Find out more about the renter: <%= link_to @item.user.username, user_path(@item.user.id) %></p>
<% end %>

<% if @current_user == @item.user %>
<p><%= link_to 'Edit Item', edit_item_path %></p>
<p><%= link_to 'Remove Item', user_path%></p>
<% end %>

<p>Catgeories:
<% @item.categories.each do |category| %>
<%= link_to category.name, category_path(category.id) %>
<% end %>
</p>
