<h3><%= @item.name %></h3>

<div class="container">
  <% if @item.image.present? %>

  <p><%= cl_image_tag @item.image, :class => 'feature' %></p>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <p><%= @item.description %></p>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="container">
    <h5>Prices</h5>
    <div class="row">
      <div class="col-md">
          <h5>1 day: </h5>
      </div>
      <div class="col-md">
        <h5><%= number_to_currency @item.dayprice  %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
          <h5>7 days: </h5>
      </div>
      <div class="col-md">
        <h5><%= number_to_currency @item.weekprice  %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
          <h5>30 days: </h5>
      </div>
      <div class="col-md">
        <h5><%= number_to_currency @item.monthprice  %></h5>
      </div>
    </div>


<!-- form to fill out dates to add item to order -->

    <% if @current_user.id != @item.user_id %>

    <h4><%=  link_to 'Add to cart', new_order_path(:item_id => @item.id), :class => 'addcart' %></h4>

    <!-- Display either link to profile or edit/remove functions-->
    <div class="container">
      <p>Find out more about the renter:
      <%= link_to @item.user.username, user_path(@item.user.id) %>
      </p>

      <% elsif %>
      <% @current_user.id == @item.user_ %>
        <p><%= link_to 'Edit Item', edit_item_path %></p>
        <p><%= link_to 'Remove Item', item_path(@item.id), :method => 'delete', :data => {:confirm => 'Are you sure you want to remove this item?'}%></p>
    <% end %>

    <p>Catgeories:
    <% @item.categories.each do |category| %>
    <%= link_to category.name, category_path(category.id) %>
    <% end %>
    </p>
    </div>
</div>
</div>
