
<h1>Browse</h1>
<h2><%= @category.name %></h2>

<div class="browseContainer">

<div class="browseSidebar">

<%= link_to 'Browse all categories', categories_path %>

<% @categories.each do |category| %>
<h4><%= link_to category.name, category_path(category.id)%></h4>
<% end %>
</div>

<div class="itemsinCategory">


<% @category.items.each do |i| %>

<div class="eachItem">
<h3><%= i.name %></h3>
<a href="<%= item_path(i) %>"><img src="<%= i.image %>" alt="edit" class="thumb "></a>
<% end %>
</div>
</div>

</div>
