
<h3>Browse</h3>
<div class="col-md-12">

  <%= link_to 'All Categories', categories_path %> |

  <% @categories.each do |category| %>

  <%= link_to category.name, category_path(category.id)%> |
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2><%= @category.name %></h2>
      </div>
    </div>
  </div>

<div class="container">

  <div class="row">
    <% @category.items.each do |item| %>

      <div class="col-md-4 item-box">
        <h3><%= link_to item.name, item_path(item) %></h3>

        <% if item.image.present? %>
        <a href="<%= item_path(item) %>"><img src="<%= item.image %>" alt="edit" class="thumb "></a>
      </div>
      <% end %>
    <% end %>

  </div>

</div>
