<!DOCTYPE html>
<html>
  <head>
    <title>Spearhead</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
        <h1>Spearhead</h1>
      <%= link_to 'Home', root_path %> |

      <%= link_to 'Browse', items_path %> |

      <% if @current_user.present? %>
      <%= link_to "Sign out ", login_path, :method => 'delete' %> |
      <%= link_to "View Profile", user_path(@current_user.id) %> |
      <%= link_to "Add Item", new_item_path %>
      <% else %> |
        <%= link_to 'Sign up', new_user_path %> |
        <%= link_to 'Sign in', login_path %>
      <% end %>

    </nav>
    <% if @current_user.present? %>
        <p>Hello, <%= @current_user.username %> </p>
        <% end %>


    <%= yield %>
  </body>
</html>
